In [513]:
import sys
%store -r SYSPATHS
sys.path.append(SYSPATHS['tool'])
import Khcore as kc
import Khcore1 as kc1
import MyEcharts as me
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
from imp import reload

reload(kc)
reload(kc1)

In [242]:
names = ["TE_1003a","TE_1003b","TE_1003c"]
datas=  []
for name in names:
    datas.append(kc1.ReadRawData(name))
data = pd.concat(datas,axis=1)
data= data[data.index>"2019-06-13 19:00:00"]
data.columns = names
data1 = data.resample("1min").mean()
me.Plot_LineBar(data1,name="TE_1003abc_06_raw",overwrite=True)

In [276]:
bins = [["2019-06-14 13:20:00","2019-06-14 17:28:00"],["2019-06-16 05:05:00","2019-06-16 15:40:00"],
       ["2019-06-17 05:00:00","2019-06-17 17:31:00"],["2019-06-18 11:08:00","2019-06-18 17:36:00"],\
       ["2019-06-22 07:21:00","2019-06-22 15:51:00"],["2019-06-23 08:30:00","2019-06-23 17:00:00"],\
        ["2019-06-24 23:40:00","2019-06-25 03:34:00"],["2019-06-25 23:30:00","2019-06-26 00:35:00"],\
        ["2019-06-27 06:55:00","2019-06-27 07:57:00"],["2019-06-27 13:32:00","2019-06-28 04:19:00"],\
        ["2019-06-28 15:12:00","2019-06-29 06:35:00"],["2019-06-30 02:31:00","2019-06-30 07:30:00"],\
       ]
labels = [1]*len(bins)

In [309]:
data2 = kc1.generate_label(data1,bins,labels)
data2['label'] =data2['label'].fillna(0)
data2['time']  =data2.index

In [520]:
data2.head()

,TE_1003a,TE_1003b,TE_1003c,label,time
time,,,,,
2019-06-13 19:00:00,61.355300,59.926700,59.816900,0.0,2019-06-13 19:00:00
2019-06-13 19:01:00,61.558003,59.875460,59.851057,0.0,2019-06-13 19:01:00
2019-06-13 19:02:00,61.684993,59.822970,59.844953,0.0,2019-06-13 19:02:00
2019-06-13 19:03:00,61.789990,59.888887,59.896207,0.0,2019-06-13 19:03:00
2019-06-13 19:04:00,61.796087,59.901080,59.914513,0.0,2019-06-13 19:04:00

In [550]:
df1 = df[df.index>"2019-06-13 19:00:00"]
data2["TE_1003"] = df1.value
data2= data2.dropna()

In [558]:
data2['diff'] = data2[['TE_1003a','TE_1003b','TE_1003c']].max(axis=1)-data2['TE_1003']
data2["slope"] = data2['TE_1003'].rolling(window="5min").apply(kc1.gradient)
data2= data2.dropna()

/root/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning

for i in ['P2003A_AI','P2003B_AI']:
    df = kc1.GetNode_data(i,start = "2019-06-13 00:00:00",\
                      end = "2019-07-01 00:00:00",month="2019_06",save=True,factory="中碳能源",freq ="10S")

In [ ]:
df = kc1.GetNode_data("PT_4001",start = "2019-06-12 00:00:00",\
                      end = "2019-07-1 00:00:00",month="2019_06",save=True,factory="中碳能源",freq ="10S")
df= df[df.index>"2019-06-13 19:00:00"]

In [584]:
me.Plot_LineBar(df,columns=['value'],overwrite=True,name="temp")

In [586]:
r1 = kc1.ReadRawData('P2002A_AI')
r1.columns = ["P2002A_AI"]
r1= r1[r1.index>"2019-06-13 19:00:00"] 
r1 = r1.resample("1min").mean()
me.Plot_LineBar(r1,name="P2002A_AI_06_raw",overwrite=True)

In [589]:
r1 = kc1.ReadRawData('P2002B_AI')
r1.columns = ["P2002B_AI"]
r1= r1[r1.index>"2019-06-13 19:00:00"] 
r1 = r1.resample("1min").mean()
me.Plot_LineBar(r1,name="P2002B_AI_06_raw",overwrite=True)

In [590]:
me.Plot_LineBar(df,name="temp",overwrite=True)